/* ==========================================
----- Index css -----

1. common css
2. header css
3. slider css
4. we-do css
5. about css
6. service css
7. testimonial css 
8. faq css
9. team css
10. subscribe css
11. blog css
12. contact css
13. footer css
============================================ */
/*===========================
    COMMON css 
===========================*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:300,400,500,600,600i,700,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #8C96A7;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.navbar-toggler:focus,
*:focus,
a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:hover {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #00ADB5;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #393E46;
  font-family: "Raleway", sans-serif;
  margin: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #8C96A7;
  margin: 0px;
}

.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.theme-bg {
  background-color: #00ADB5;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

.read-more {
  font-size: 18px;
  font-weight: 500;
  color: #00ADB5;
  font-family: "Raleway", sans-serif;
}

.read-more i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.read-more:hover i {
  margin-left: 30px;
}

.error {
  color: crimson;
}

.success {
  color: #00ADB5;
}

.shape {
  position: absolute;
}

.tns-nav {
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 99;
}

.tns-nav button {
  cursor: pointer;
  text-indent: -999999px;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 15px;
  height: 15px;
  background: rgba(0, 173, 181, 0.31);
  margin: 0 8px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.tns-nav button.tns-nav-active {
  background: #00adb5;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*===== All Button Style =====*/
.theme-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 18px 40px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: #00ADB5;
}

.theme-btn:hover {
  background-color: rgba(0, 173, 181, 0.7);
  color: #fff;
  border-color: transparent;
  -webkit-box-shadow: 0 10px 25px rgba(0, 173, 181, 0.3);
  box-shadow: 0 10px 25px rgba(0, 173, 181, 0.3);
}

.scroll-top {
  width: 45px;
  height: 45px;
  background: #00ADB5;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.scroll-top:hover {
  color: #fff;
  background: rgba(0, 173, 181, 0.7);
}

@keyframes animation1 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes animation1 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*===== All Section Title Style =====*/
.section-title span {
  font-family: "Raleway", sans-serif;
  font-size: 8px;
  font-weight: 100;
  display: block;
  color: #00ADB5;
  margin-bottom: 15px;
}

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}

.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.2353ms linear infinite;
  animation: ytp-spinner-linspin 1568.2353ms linear infinite;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}

.preloader .loader .ytp-spinner-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #00ADB5 #00ADB5 #8C96A7;
  border-radius: 50%;
  border-width: 6px;
}

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #8C96A7;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #8C96A7;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

/*===========================
    HEADER css 
===========================*/
.header .header-wrapper {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.header-top {
  padding: 10px 0;
}

.header-top ul li {
  display: inline-block;
}

.header-top ul li a {
  color: #fff;
  font-size: 14px;
}

.header-top ul li a i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header-top ul li a i:hover {
  background: #fff;
  color: #00ADB5;
}

.header-top .header-top-left ul li:first-child {
  margin-right: 35px;
}

.header-top .header-top-left ul li a i {
  margin-right: 10px;
}

.header-top .header-top-right {
  text-align: right;
}

.header-top .header-top-right ul li {
  margin-left: 15px;
}

@media (max-width: 767px) {
  .header-top {
    display: none;
  }
}

/*===== NAVBAR =====*/
.navbar-area {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: #fff;
}

.sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
  padding: 10px 0;
}

.navbar {
  padding: 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 15px 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-width: 150px;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #222;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(57, 62, 70, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(57, 62, 70, 0.1);
    padding: 5px 12px;
  }
}

.navbar-nav .nav-item {
  margin-left: 40px;
  position: relative;
}

.navbar-nav .nav-item:first-child {
  margin-left: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}

.navbar-nav .nav-item a {
  font-size: 18px;
  font-weight: 500;
  color: #393E46;
  font-family: "Raleway", sans-serif;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
  }
}

.navbar-nav .nav-item a.active, .navbar-nav .nav-item a:hover {
  color: #00ADB5;
}

.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

.navbar-nav .nav-item .sub-menu li {
  display: block;
}

.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
  color: #222;
}

.navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #00ADB5;
}

.navbar-nav .sub-nav-toggler {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}

/*===========================
    Slider CSS
===========================*/
.slider-section {
  position: relative;
}

.slider-section .single-slider {
  position: relative;
  z-index: 1;
}

.slider-section .single-slider::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, right top, from(#00adb5), color-stop(70.76%, rgba(0, 173, 181, 0.11)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, #00adb5 0%, rgba(0, 173, 181, 0.11) 70.76%, rgba(255, 255, 255, 0) 100%);
}

.slider-section .single-slider .slider-content {
  padding: 190px 0 200px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-section .single-slider .slider-content {
    padding: 160px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-section .single-slider .slider-content {
    padding: 110px 0px;
  }
}

@media (max-width: 767px) {
  .slider-section .single-slider .slider-content {
    padding: 100px 0px;
  }
}

.slider-section .single-slider .slider-content h1 {
  font-size: 65px;
  line-height: 76px;
  font-weight: 900;
  margin-bottom: 30px;
  color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-section .single-slider .slider-content h1 {
    font-size: 60px;
    line-height: 72px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-section .single-slider .slider-content h1 {
    font-size: 54px;
    line-height: 66px;
  }
}

@media (max-width: 767px) {
  .slider-section .single-slider .slider-content h1 {
    font-size: 36px;
    line-height: 48px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .slider-section .single-slider .slider-content h1 {
    font-size: 45px;
    line-height: 55px;
  }
}

.slider-section .single-slider .slider-content p {
  color: #fff;
  margin-bottom: 30px;
}

.slider-section .single-slider .slider-content .theme-btn {
  background: #fff;
  color: #00ADB5;
}

.slider-section .single-slider .slider-content .theme-btn:hover {
  -webkit-box-shadow: 0 10px 25px rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.5);
}

.slider-section .tns-nav {
  bottom: 60px;
}

.slider-section .tns-nav button {
  background: rgba(255, 255, 255, 0.4);
}

.slider-section .tns-nav button.tns-nav-active {
  background: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.we-do-section {
  position: relative;
}

.we-do-section .shape {
  left: -100px;
}

.we-do-section .we-do-item {
  text-align: center;
}

.we-do-section .we-do-item .we-do-icon {
  width: 87px;
  height: 87px;
  line-height: 83px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 25px rgba(0, 173, 181, 0.15);
  box-shadow: 0 0 25px rgba(0, 173, 181, 0.15);
}

/*===========================
    About css 
===========================*/
.about-section {
  position: relative;
  overflow: hidden;
}

.about-section .shape {
  right: -50px;
  top: 160px;
}

.about-section .about-content p {
  padding: 0 15px;
}

@media (max-width: 767px) {
  .about-section .about-content p {
    padding: 0;
  }
}

.service-section {
  position: relative;
}

.service-section .shape {
  top: 160px;
  left: -50px;
}

.service-section .service-item {
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 35px rgba(0, 173, 181, 0.14);
  box-shadow: 0 10px 35px rgba(0, 173, 181, 0.14);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
  padding: 40px;
  z-index: 1;
}

.service-section .service-item .service-icon svg path {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.service-section .service-item .service-content h4 {
  margin-bottom: 20px;
}

.service-section .service-item .service-content p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 25px;
}

.service-section .service-item .service-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  background: url("https://picsum.photos/300");
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.service-section .service-item .service-overlay::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: rgba(0, 173, 181, 0.91);
}

.service-section .service-item:hover .service-icon svg path {
  fill: #fff;
}

.service-section .service-item:hover .service-content h4, .service-section .service-item:hover .service-content p, .service-section .service-item:hover .service-content a {
  color: #fff;
}

.service-section .service-item:hover .service-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}








/*===========================
    footer css 
===========================*/
/* .footer .footer-widget-wrapper {
  margin-bottom: 30px;
} */

.footer .footer-widget-wrapper .footer-widget a.logo {
  margin-bottom: 35px;
}

.footer .footer-widget-wrapper .footer-widget h4 {
  color: #fff;
  margin-bottom: 35px;
  margin-top: 40px;
}

.footer .footer-widget-wrapper .footer-widget p {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 38px;
}

.footer .footer-widget-wrapper .footer-widget .footer-links li a {
  color: #fff;
  line-height: 37px;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .footer-widget-wrapper .footer-widget .footer-links li a:hover {
  color: #00ADB5;
  padding-left: 8px;
}

.footer .footer-widget-wrapper .footer-widget .footer-social-links ul li {
  display: inline-block;
}

.footer .footer-widget-wrapper .footer-widget .footer-social-links ul li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background: #8C96A7;
  border-radius: 5px;
  margin-right: 20px;
}

.footer .footer-widget-wrapper .footer-widget .footer-social-links ul li a:hover {
  background: #00ADB5;
}

.footer .footer-widget-wrapper .footer-widget .footer-social-links ul li:last-child a {
  margin-right: 0;
}

.footer .footer-widget-wrapper .footer-widget .map-canvas .map {
  border-radius: 10px;
  width: 100%;
  height: 207px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer .footer-widget-wrapper .footer-widget .map-canvas .map {
    height: 300px;
  }
}

.footer .copyright-area {
  padding: 25px 0;
  border-top: 1px solid #8C96A7;
}

.footer .copyright-area a {
  color: #8C96A7;
}

.footer .copyright-area a:hover {
  color: #00ADB5;
}
/*# sourceMappingURL=main.css.map */

#titolo-contatti, #titolo-servizi, #titolo-about, #nome-collaboratore, #titolo-dettaglio{
  color: #00ADB5;
}

#invio-mail{
  color: white; 
  background-color: #00ADB5;
}

.logo-dent{
  height: 40px;
  width: 40px;
}

.logo-dent-footer{
  height: 80px;
  width: 80px;
}





/* CSS CARD VIEWS ABOUT */
.containerCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
}

.containerCard .box {
  position: relative;
  width: 15rem;
  height: 10rem;
  margin: 4rem;
}

.containerCard .box:hover .imgBox {
  transform: translate(-4rem, -4rem);
}

.containerCard .box:hover .content {
  transform: translate(7rem, 7rem);
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img {
  width: 25rem;
  height: 15rem;
  object-fit: cover;
  resize: both;
}

#foto-personale{
  border-radius: 15px;;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.content h2 {
  display: block;
  font-size: 2rem;
  color: #111;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1px;
}

.content span {
  color: #555;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .containerCard .box:hover .content {
    transform: translate(0, 3.5rem);
  }
  .containerCard .box:hover .imgBox {
    transform: translate(0, -3.5rem);
  }
}

.vh-80{
  height: 70vh;
}

/* card-servizi */
.card-servizi{
  border: 1px solid #00adb5;
  border-radius: 5px;
}

.vh-5{
  height: 25vh;
}

.img-service{
  max-height: 35vh;
  max-width: 35vh;
  padding: 1vh;
  border:2px solid #00adb5;
}


/* NON SO SE USARLO VISTO CHE L'IMMAGINE NON E' CLICCABILE */
 .img-service:hover{
  background-color: #00adb5;
  padding:0vh;
  transition: 0.3s;
  transform: scale(1.2);

} 

.sep-line{
  border-bottom: 1px solid  rgba(0, 173, 181,0.1);
  
}
.vh-80{
  height: 70vh;
}

.box-hover{
  padding: 15px;
}
.box-hover:hover{
  background-color:rgba(0, 173, 181, 0.1);
  transform: scale(1.2);
  transition: 0.5s;;
}
  
/* Scroll button */
.scroll-button{
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 5px;
  right: 15px;
  z-index: 999;
  border-radius: 50%;
  animation: mymove 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color:rgba(0, 173, 181);
  border: 2px solid rgba(0, 173, 181);
}

.scroll-button:hover{
  color: white;
}

@keyframes mymove {
  from {top: 88vh;}
  to {top: 91vh;}
}



.detailsCard{
  font-size: small;
}